<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Patching status</title>
    <link rel="stylesheet" href="/assets/style.css" type="text/css">
    <script type="text/javascript" src="assets/sort.js"></script>
  </head>
  
  <body>
    <main>
      <header>
        <a class="logo" href="/">Patching status</a>
        <div class="topnav-right">
          <a href="http://confluence.geomidas.com/display/IPD/How+to+patch+a+linux+machine" class="button confluence-button" target="_blank">How to patch</a>
          <a href="https://github.com/geomidas/macbook/blob/master/ansible/patching_status_pages.yml" class="button github-button" target="_blank">view on GitHub</a>
        </div>
      </header>
      <br><br><br>
      <section class="container">
        <table id="patchingstatus">
          <thead>
            <tr>
              <th onclick="sortHTML('#patchingstatus', '.item', 'td:nth-child(1)')" style="cursor:pointer">Host Groups</th>
            </tr>
          </thead>
          <tbody>
<!-- Ansible variable that contains the Host Groups table content -->
{{ index_table_content.stdout }}
          </tbody>
        </table>
      </section>
    </main>
    <script>
      function sortTable() {
        var table, rows, switching, i, x, y, shouldSwitch;
        table = document.getElementById("patchingstatus");
        switching = true;
        /*Make a loop that will continue until
        no switching has been done:*/
        while (switching) {
          //start by saying: no switching is done:
          switching = false;
          rows = table.rows;
          /*Loop through all table rows (except the
          first, which contains table headers):*/
          for (i = 1; i < (rows.length - 1); i++) {
            //start by saying there should be no switching:
            shouldSwitch = false;
            /*Get the two elements you want to compare,
            one from current row and one from the next:*/
            x = rows[i].getElementsByTagName("TD")[0];
            y = rows[i + 1].getElementsByTagName("TD")[0];
            //check if the two rows should switch place:
            if (Number(x.innerHTML) > Number(y.innerHTML)) {
              //if so, mark as a switch and break the loop:
              shouldSwitch = true;
              break;
            }
          }
          if (shouldSwitch) {
            /*If a switch has been marked, make the switch
            and mark that a switch has been done:*/
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
          }
        }
      }
    </script>
  </body>
</html>